body {
    font-family: tahoma, helvetica, arial, sans-serif;
    font-size: 10px;
    text-align: center;
    background: url(images/page_bg.jpg);
    color: #6f6f6f;
}

html, body, #wrapper, h1, #nav, #nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

th, td {
    font-size: 10px;
}

table.Visualizza  th,table.Visualizza  td{
	font-size: 15px;
}

img { border: 0; }

#wrapper {
    margin: auto;
    text-align: left;
    width: 750px;
    position: relative;
}

h1, h2, h3 {
    font-size: 10px;
}


h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0 0 0 0;
    padding: 0;
}

h3 {
    margin: 4px 0 0 0;
    padding: 0 0 0 0;
}

p {
    margin: 1em 0;
    padding: 0;
}

.block {
    display: block;
}

.clear {
    clear: both;
    height: 1px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1px;
    line-height: 1px;
}

* html .clear {
    margin-top: -5px;
    margin-bottom: -4px;
}

.left {
    float: left;
    margin: 1px 8px 0px 0px;
}

.right {
    float: right;
    margin: 1px 0px 0px 8px;
}

.softright {
    text-align: right;
}

.readmore {
    text-align: right;
    padding-right: 1em;
}

/* ***** */

body {
    background: CORNFLOWERBLUE; /* sfondo */
}

#wrapper {
    width: 698px;
    background: #fff;
    border: 1px solid #fff;
}

* html #wrapper {
    width: 700px;
    w\idth: 698px;
}

h1 {
    padding: 9px 18px
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #E6B909;
}

a.orange { color: #d07c1a; }
a.green  { color: #858e10; }
a.teal   { color: #238aaa; }
a.purple { color: #9f6bc8; }

a:hover        { color: #FF2A8C; }
a:hover.orange { color: #FF9B0B; }
a:hover.green  { color: #45D110; }
a:hover.teal   { color: #239FF0; }
a:hover.purple { color: #C12EFA; }

a:hover {
    text-decoration: underline;
}



#login{
	margin-left:68%;
	margin-top:7%;
}

#Registrazione{
	position: absolute;
	top: 12%;
	left: 37%;
	height: 38%;
	width: 72%;
	display: none;
}

#JustLogin{
	position: absolute;
	background-color: #EEDB03;
	height: 18%;
	width: 57%;
	left: 40%;
	top: 12%;
	opacity: 0.7;
	display: none;
}

#errore{
	position: absolute;
	background-color: #F01D1D;
	height: 16%;
	width: 25%;
	left: 40%;
	top: 12%;
	opacity: 0.7;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	display: none;
}

#password{
	position: absolute;
	top: 37%;
	height: 8%;
	background: red;
	opacity: 0.5;
	display:none;
}

#emailerr{
	position: absolute;
	top: 37%;
	height: 8%;
	background: red;
	opacity: 0.5;
	display:none;
}

#sicuro{
	position: absolute;
	height: 16%;
	width: 25%;
	top: 15%;
	left:72%;
	display: none;
	opacity: 0.7;
}


#nav2 li {
    list-style: none;
    width: 150px;
    height: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    margin-top: 1em;
}


/* nav */

* html .clear {
    margin-top: 0;
    margin-bottom: 0;
}

#nav li {
    float: left;
    list-style: none;
    width: 139px;
    font-size: 11px;
    font-weight: bold;
    border-left: 1px solid white;
    text-align: center;
}

#nav li.first {
    width: 138px;
    border-left: none;
}

#nav a {
    color: #fff;
    display: block;
    text-decoration: none;
    background: #aaaaaa;
    padding: 2px 0;
    width: 100%;
}

#nav a:hover {
    background: #EEDB03;
}

/* highlights */

#highlights {
    background: url(Immagini/sfondo.gif) no-repeat;
    width: 327px;
    float: left;
	margin-top:5px;
	margin-right: -10px;
}

#highlights .p {
    padding: 8px 7px;
    margin-left: 187px;
    border-bottom: 1px solid white;
}

* html #highlights .p {
    padding-bottom: 6px;
}

#highlights div.green  { background: #bdcb21; }
#highlights div.purple { background: #7976d6; }
#highlights div.orange { background: #f2901c; }

#highlights #topspot {
    padding: 13px 11px;
}

#highlights .faceotweek {
    float: left;
    width: 97px;
    font-size: 10px;
    margin-top: 1em;
    color: #487388;
    font-weight: bold;
}

#highlights .faceotweek p {
    padding: 0 2px;
}

/* right */

#right {
    width: 370px;
    float: right;
    border-top: 1px solid #bdbdbd;
    background: url(images/body_tr_bg.gif);
}

#right .right {
    margin-left: 1px;
}

#right #products {
    float: left;
    width: 188px;
}

#right #products div {
    border-top: 1px solid #bdbdbd;
    padding: 10px 10px 0 10px;
}

#right #products #item-one {
    border-top: none;
}

#right #products h2 {
    clear: both;
}

#right #news {
    float: right;
    width: 165px;
    margin: 10px 10px 0 0;
    display: inline;
}

#right #news h2 {
    margin-bottom: 0.5em;
}

#right #news h3 {
    margin-bottom: -0.4em;
}

/* beauty */

#beauty {
    float: right;
    width: 370px;
    border-top: 1px solid #bdbdbd;
    background: url(images/body_br_bg.gif);
}

#beauty div {
    padding: 12px;
}

/* footer */

#footer {
    color: #fff;
    background: #cb0368;
    text-align: center;
    padding: 8px 0;
}

#footer a {
    color: #fff;
    font-weight: normal;
    text-decoration: underline;
}

#footer a:hover {
    color: #f8cde3;
}

#global {
position:fixed;
}

#header {
background-color:slategrey;
color:white;
height:300;
width:1000;
position:fixed;
}

#menu {
background-color:LIGHTGRAY;
color:white;
margin-top:300;
height:40;
width:1000;
position:fixed;
}

#collegamenti{
}


 ul#mymenu{
      font: 70%/1.5 Verdena,Tahoma,sans-serif;
      color: #fff;
      background: #642eab;
      width:1000px;
      height:26px;
      margin-left:7px;
      margin-top:-17px;
      line-height:26px;
      }
      ul#mymenu,ul#mymenu li,ul#mymenu ul,ul#mymenu ul li{
      margin:0;
      padding:0;
      list-style-type:none
      }
      ul#mymenu a{
      display:block;
      padding: 0 15px;
      text-decoration: none;
      color:#FFF;
      }
      ul#mymenu li{
      float: left;
      position: relative;
      }
      ul#mymenu li li{
      float: none;
      line-height: 22px;
      width:200px;
      display:block !important;
      display: inline;
      }
      ul#mymenu ul{
      position: absolute;
      top: 25px;
      left: -9999px;
      width: 12em;
      background: #fff;
      color: #642eab;
      }
      ul#mymenu ul{
      padding: 7px 0;
      border: 1px solid #642eab;
      width:200px;
      }
      ul#mymenu ul,ul#mymenu li li a{
      background-color: #FFF;
      color: #642eab;
      }
      ul#mymenu li:hover,ul#mymenu a:hover{
      background-color: #7143a8;
      color: #FFF;
      }
      ul#mymenu li:hover ul,ul#mymenu li.sfhover ul{
      left: -1px;z-index: 100;
      }  




